body[data-snitchalt="enabled"] img:not([alt]){
    border: 5px solid red;
    box-shadow: 0px 0px 44px red;
}
body[data-snitchalt="enabled"] img[alt=""]{
    border: 5px solid yellow;
    box-shadow: 0px 0px 44px yellow;
}
